<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'team2app/css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Продукт</title>
</head>
<body>
    <div>


        <div class = "product div_hover">
            
            <h1 class = 'title_product'>{{ product.title }}</h1>
            <hr>
            <div class = "description_product">
                <p>{{ product.description }}</p>

                <div class = "img_product">
                    <img src="{{ product.image.url }}" alt="">
                </div>
            </div>           
            

        </div>


        <div class = "description div_hover">

            <h1>Коментарі</h1>
            <hr>
            
            {% for description in descriptions %}
                <h2>{{ description.author }}:</h2>
                <p>{{ description.description }}</p>
                <hr>
            {% endfor %}

        </div>


        <div class = "add_description div_hover">
            
            <form method="post" enctype="multipart/form-data">
                
                {% csrf_token %}
        
                <h2>Додати коментар</h3>
                <hr>
            
                <p><textarea name="description" cols="190" rows="10" placeholder="Коментар" required style="resize: none;"></textarea></p>
                <p class="create"><input type="submit" value="Створити"></p>
            
            </form>
            
        </div>
     
        
    </div>
    
    
</body>
</html>